.background-container {
    background-image: url('../../../assets/img/1111.png');
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    background-attachment: scroll;
    
  }
  

.centered-img {
    max-width: 400px; 
}


.centered-img2 {
    max-width: 400px; 
    background-position: right;
}
   
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1 {
    display: flex;
    justify-content: right;
    align-items: center;
}